*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #aaa;
    width: 80vw;
    height: 80vh;
    overscroll-behavior: contain;
  }
  #canvas{
    width: 80vw;
    height: 80vh;
    margin: auto;
  }